* {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    padding: 0;
    
}

body{
    display: flex;
    align-items:center;
    justify-content: center;
    background:  hsl(216, 12%, 8%);
    height: 100vh;

}

.main{
    background: hsl(213, 19%, 18%);
    height: 55vh;
    width: 25%;
    padding: 5vh;
    border-radius: 24px;
}

.thank{
        background: hsl(213, 19%, 18%);
        height: 55vh;
        width: 25%;
        padding: 5vh;
        border-radius: 24px;
}

.star{  
    padding: 0 0 25px 0 ;
}



.photoOne {
    background: hsl(213, 19%, 25%);
    padding: 16px;
    border-radius: 50%;
}

.photoTwo {
    display: block;
    margin:auto;
    padding: 20px 0;
    width: 140px;
    height: 95px;
}

h1, p{
    color:hsl(0, 0%, 100%);
}

.main-h1 {
    font-size: 25px;
    padding: 0 0 22.5px 0 ;
    font-weight: normal;
}
.main-p {
    color:hsl(210, 1%, 69%);
    margin-bottom: 20px; 
}

.tks-h1 {
    margin: 10px 45px 20px 105px;
    font-size: 25px;
    font-weight: 400;
}

.gray {
    color:hsl(210, 1%, 69%);
    padding: 0 25px 27.5px;
    font-size: 13px;
    text-align: center;
} 

 .orange  {
    color:hsl(25, 97%, 53%);
    background: hsl(213, 19%, 25%);
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    width:180px;
    font-size: 15px;
    margin: 10px 75px 30px;
    
} 

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


li {
    list-style: none;
    margin: 0.5rem;
}


.btn {
    height: 7vh;
    width: 7vh;
    text-align: center;
    border: none;
    border-radius: 50%;
    background: hsl(213, 19%, 25%);
    color:hsl(0, 0%, 100%);
}

.btn-submit {
    display:flex;
    height: 7vh;
    width: 55vh;   
    border: none;
    border-radius: 30px;
    background-color:  hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    line-height: 46px;
    justify-content: center;
    margin: 25px 0 0;
}

.hidden {
    display: none;
}

.btn:focus{
    background-color: hsl(217, 12%, 63%);
}

@media (min-width: 1201px) {
.btn:hover{
    background-color:  hsl(25, 97%, 53%);
}


.btn-submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
}

@media  (max-width: 1100px){
    .main{
        background: hsl(213, 19%, 18%);
        height: 55em;
        width: 42em;
        padding: 3vh;
        border-radius:3em;
    
    }
    .photoOne {
        background: hsl(213, 19%, 25%);
        padding: 2em;
        margin-bottom: 2em;
        border-radius: 50%;
        height: 3em;
    }

    .main-h1 {
        font-size: 4em;
        padding: 0 0 22.5px 0 ;
        font-weight: normal;
    }

    .main-p {
        color:hsl(210, 1%, 69%);
        margin-bottom: 2em;
        font-size: 2.3em;
    }

    .btn-submit {
        padding: 1.5em;
        height: 1em;
        width: 17em;   
        font-size: 2.5em;
        border-radius: 40em;
        line-height: 0.01em; 
    }
    

    .thank{
        background: hsl(213, 19%, 18%);
        height: 55em;
        width: 42em;
        padding: 3em;
        border-radius: 3em;
    }

    .photoTwo {
        display: block;
        margin:auto;
        padding: 3em 0;
        width: 20em;
        height: 17em;
    }

    .orange  {
        
        padding: 0.7em 0;
        border-radius: 5em;
        width:12em;
        font-size: 2.3em;
        margin: 0.5em 3.5em;
        
    } 
    .gray {
        color:hsl(210, 1%, 69%);
        padding: 0 0.8em 1.9em;
        font-size: 2.3em;
        text-align: center;
    } 

    .tks-h1 {
        margin: 0.8em 1em 0.8em 3em;
        font-size:4em;
        font-weight: 400;
    }
    .btn {
        height: 6vh;
        width: 6vh;
        margin: 0 0 48px 0;
        border-radius: 50%;
        font-size: 40px;
    }
}